<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atharvainfo.myschool">

    <compatible-screens>

        <!-- no small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="small" /> <!-- Workaround -->


        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="normal" /> <!-- Workaround -->


        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />

        <!-- xxhdpi -->

        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />
    </compatible-screens>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.atharvainfo.leader.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".MySchool"
        android:allowBackup="true"
        android:icon="@drawable/l1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.PSTheme">
        <activity android:name=".activity.activity.scanactivity"></activity>
        <activity android:name=".activity.activity.book_information">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>